@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* font-family: 'Open Sans', sans-serif; */
/* font-family: 'Poppins', sans-serif; */

:root {
    /* Primary */
    --Violet: hsl(257, 40%, 49%);
    --Soft-Magenta: hsl(300, 69%, 71%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    background-color: var(--Violet);
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(images/bg-mobile.svg);
    transition: 0.5s;
}

.huddle_container {
    position: relative;
    width: 100%;
}

.huddle_section {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    margin: 2rem;
}

.mock_up_container {
    display: flex;
    flex-direction: column;
}

.mock_up_container .logo {
    width: 46%;
    margin-bottom: 2.7rem;
}

.mock_up_container .mockUps_imgs {
    width: 100%;
    align-self: center;
}

.huddle_texts {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.huddle_texts .heading {
    width: 100%;
    font-size: 1.3rem;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

.huddle_texts .paragraph {
    margin: 1rem 0;
    font-weight: 400;
    font-size: 0.8rem;
    font-family: 'Open Sans', sans-serif;
}

.register_link {
    align-self: center;
    color: var(--Violet);
    font-size: 0.7rem;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    background-color: #fff;
    padding: 0.6rem 4rem;
    border-radius: 40px;
    box-shadow: 3px 3px 8px hsl(257, 51%, 37%);
}

.register_link:hover {
    color: #fff;
    background-color: var(--Soft-Magenta);
}

.social_media {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    gap: 0.6rem;
}

.social_media a {
    display: flex;
    align-items: center;
    padding: 6px;
    border: 1px solid #fff;
    border-radius: 50%;
}

.social_media a:hover {
    border-color: var(--Soft-Magenta);
}


.social_media a .ionicon {
    width: 1rem;
    fill: #fff;
}

.social_media a .ionicon:hover{
    fill: var(--Soft-Magenta);
}

footer {
    position: fixed;
    bottom: 10px;
}

@media (min-width: 660px) {
    body {
        background-size: cover;
        background-position: center;
        background-image: url(images/bg-desktop.svg);
    }

    .huddle_container {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
    }

    .huddle_section {
        flex-direction: row;
    }

    .social_media {
        position: absolute;
        bottom: -5rem;
        right: 0;
    }

    .huddle_texts{
        text-align: left;
    }

    .register_link {
        align-self: flex-start;
    }
}

@media (min-width: 770px) {
    .huddle_section {
        margin: 0 2rem;
        width: 90%;
    }

    .mock_up_container {
        width: 110rem;
    }

    .huddle_texts .heading {
        font-size: 1.5rem;
    }

    .huddle_texts .paragraph {
        font-size: 1rem;
    }
}

@media (min-width: 1440px) {
    body {
        background-size: 90%;
    }

    .mock_up_container .logo {
        width: 32%;
    }

    .huddle_texts .heading{
        font-size: 2.5rem;
    }

    .huddle_texts .paragraph {
        font-size: 1.3rem;
    }

    .register_link {
        font-size: 1rem;
    }

    .social_media {
        bottom: -13rem;
    }

    .social_media a {
        padding: 10px;
    }

    .social_media a .ionicon {
        width: 24px;
    }
}


